body,
html {
  width: 100%;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  transition: background 1s ease-in-out;
}

* {
  box-sizing: border-box;
}

#todo {
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.noite svg {
  background: #2d5d63;
}

.dia svg {
  background: #39cfdc;
}

@media (min-width: 1080px) {
  #todo {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  svg {
    min-height: 84vh !important;
  }

  #todo {
    min-height: 100%;
  }

  .cont button {
    align-items: center;
    margin: 20px !important;
    text-align: center;
    justify-content: center;
  }

  .cont {
    display: flex;
    align-items: center;
    bottom: 0;
    background: #cff3ff;
    width: 100%;
    margin-left: 0 !important;
    justify-content: center;
  }
}

svg {
  position: absolute;
  z-index: 0;
  min-height: 100vh;
  max-height: 1000px;
  margin: 0 auto;
  display: block;
}

/* fundo Linha_101 */
rect.cls-4 {
  fill: transparent;
}

/* Estrelas */

#Grupo_60,
#Grupo_61,
#Grupo_62,
#Grupo_63,
#Grupo_64,
#Grupo_65,
#Grupo_66,
#Grupo_67,
#Grupo_68 {
  fill: #fff;
}

#estrelas {
  transform: scale(1.5) translate(10px, 10px);
}

#lua {
  transition: all 2s ease-in-out;
}

.noite #Caminho_42 {
}
.noite #Caminho_42:before {
  -webkit-filter: drop-shadow(13px 13px 12px rgba(255, 255, 255, 0.7));
  filter: drop-shadow(13px 13px 12px rgba(255, 255, 255, 0.7));
}
.noite .cls-39 {
  animation: dance-fill 0.5s ease-in-out infinite;
}
.noite #predio-esquerda {
  animation: dance 0.5s ease-in-out infinite;
}
#nuvem-esquerda,
#nuvem-direita {
  transition: all 3s ease-in-out;
}

#predio-meio {
  transform: translate(745px, 70.95px) !important;
}

#predio-direita rect {
}

#predio-direita {
  /* animation: scal .5s ease-in-out infinite; */
}

.cont {
  position: absolute;
  margin-left: 20px;
  z-index: +6;
}

.cont button {
  position: relative;
  border: none;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.cont button img {
  margin-right: 4px;
}

.cont button:active {
  top: 5px;
}

.cont button#aman {
  box-shadow: 0 6px 0px #00a8b7;
  background: #35c0cc;
}

.cont button#aman:active {
  box-shadow: 0 0px 0px #00a8b7;
  background: #39cfdc;
}

.cont button#anoi {
  box-shadow: 0 6px 0px #1c555a;
  background: #206d74;
}

.cont button#anoi:active {
  box-shadow: 0 0px 0px #1c555a;
}

[class*="cls"] {
  transition: all 2s ease-in-out;
}

#lua.dia {
  animation: amanhecer 3s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes amanhecer {
  0% {
    cy: 115;
    r: 115;
  }

  50% {
    cy: 1840;
    r: 200;
  }

  100% {
    cy: -10;
    r: 200;
  }
}

#lua.noite {
  animation: anoitecer 3s ease;
}

@keyframes anoitecer {
  0% {
    cy: -40;
    r: 200;
  }

  50% {
    cy: 1840;
    r: 185;
  }

  100% {
    cy: 115;
    r: 115;
  }
}

@keyframes scal {
  from {
    transform: translate(1520px, -830.508px) scale(1);
  }

  to {
    transform: translate(1520px, 310.508px) scaleY(1.1);
  }
}

.noite #svg-cara {
  display: none;
}

.dia #svg-cara {
  display: block;
}

#svg-cara {
  background: transparent;
  margin: auto;
  position: absolute;
  overflow: auto;
  width: 100%;
  z-index: 1;
}

#svg-cara #OBJECTS {
  transform: scale(0.4) translateY(130%) translateX(-170%);
  animation: patinete 7s ease infinite 2s;
}

@media (max-width: 981px) {
  #svg-cara {
    width: 100%;
    height: 84vh;
  }

  #svg-cara #OBJECTS {
    transform: scale(0.4) translateY(150px) translateX(-170%);
    animation: patinete 7s ease infinite 2s;
  }
}
